body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "system-ui", "Helvetica Neue", "Arial", sans-serif;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #19191A; }

#mc_embed_signup {
  position: relative;
  z-index: 2; }
  #mc_embed_signup #mce-responses .response {
    margin: 10px 0 20px 0;
    font-size: 14px; }
  #mc_embed_signup #mce-EMAIL {
    width: 200px;
    border-radius: 50px;
    font-family: "system-ui", "Helvetica Neue", "Arial", sans-serif;
    padding: 10px 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    margin: 30px 0 10px 0; }
  #mc_embed_signup .button {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer; }

.circle {
  position: absolute;
  width: 75vh;
  height: 75vh;
  background-color: red;
  z-index: 0;
  border-radius: 50%;
  background: linear-gradient(-45deg, #FFC97E, #F29BA2, #92CCEE);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  opacity: 0.8; }

.noise {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: url("/images/noise.png"); }

.logo {
  position: absolute;
  width: 40px;
  left: 40px;
  top: 40px;
  z-index: 1; }
  .logo img {
    width: 100%; }

h1 {
  position: relative;
  z-index: 1;
  font-size: 32px;
  margin: 0;
  padding: 0 20px; }

h2 {
  position: relative;
  z-index: 1;
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #96969C; }

a {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 40px;
  text-decoration: none;
  color: #000;
  font-size: 14px; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media only screen and (max-width: 1024px) {
  .logo {
    left: 20px;
    top: 20px; }
  a {
    top: 20px;
    right: 20px; }
  h1 {
    font-size: 24px; }
  .circle {
    width: 95vw;
    height: 95vw; } }
