---
title: Otto Intelligence
---

<div class="logo">
  <img src="/images/otto-logo.svg" alt="otto logo">
</div>

<h2>Coming soon</h2>
<h1>Personalized finance for<br/> the modern investor</h1>

<div class="circle">
  <div class="noise"></div>
</div>

<a href="mailto:stacey@ottointelligence.co">stacey@ottointelligence.co</a>